<%= content_for :head, auto_discovery_link_tag(:atom, space_tiddlers_path(@space, format: :atom), title: "Federacy: All Tiddlers in #{@space}") %>
<% content_for :title do %>
  All Tiddlers - <%= @space %> - Federacy
<% end %>

<% content_for :nav do %>
  <%= link_to("New Tiddler", new_space_tiddler_path) if user_can?(:create_tiddler, @space) %>
<% end %>

<main>
  <h1>All Tiddlers</h1>

  <ul class="tiddlers">
    <% @tiddlers.each do |tiddler| %>
      <li class="tiddler">
        <%= link_to html_path(:space_tiddler_path, tiddler.space, tiddler) do %>
          <%= tiddler.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>

