<% content_for :title do %>
  New Tiddler - <%= @space %> - Federacy
<% end %>

<main>
  <h1>New Tiddler</h1>

  <%= form_for @tiddler, url: { action: "create" } do |f| %>
    <%= f.text_field :title %>
    <% if params[:type] == 'file' %>
      <%= f.file_field :file %>
    <% else %>
      <%= f.text_area :text %>
    <% end %>
    <%= f.text_field :tags %>
    <%= f.text_field :content_type %>
    <%= f.submit "Create" %>
  <% end %>
</main>

