<%= content_for :head, auto_discovery_link_tag(:atom, space_tiddlers_path(@space, format: :atom), title: "Federacy: All Tiddlers in #{@space}") %>
<% content_for :title do %>
  <%= @tiddler.title %> - <%= @space %> - Federacy
<% end %>

<% content_for :nav do %>
  <%= link_to("New Tiddler", new_space_tiddler_path) if user_can?(:create_tiddler, @space) %>
  <%= link_to("Edit Tiddler", edit_space_tiddler_path) if user_can?(:edit_tiddler, @tiddler) %>
<% end %>

<main>
  <article class="tiddler">
    <header>
      <h1><%= @tiddler.title %></h1>
    </header>

    <section>
      <%= render_tiddler @tiddler, content_type: @tiddler.content_type %>
    </section>

    <footer>
      <p>Created on <%= link_to space_tiddler_revisions_path tiddler_id: @tiddler do %><%= @tiddler.created.strftime '%d %B %Y at %H:%M' %><% end %>, Last updated <%= time_ago_in_words @tiddler.modified %> ago.</p>
      <ul class="tags">
        <% @tiddler.tags.each do |tag| %>
          <li class="tag"><%= tag %></li>
        <% end %>
      </ul>
      <% if @tiddler.back_links(current_user).length %>
        <section class="backlinks">
          <h2>See Also</h2>
          <ul>
            <% @tiddler.back_links(current_user).each do |back_link| %>
              <li class="backlink">
                <%= link_to back_link.from.title, space_tiddler_path(back_link.from.space, back_link.from) %>
                <i>[in <%= link_to back_link.from.space.name + " space", space_path(back_link.from.space) %>]</i>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </footer>
  </article>
</main>

