<%= content_for :title do %>
  <%= @user.name %> - Federacy
<% end %>

<main>
  <h1><%= @user.name %> - Federacy</h1>
  <%= image_tag @user.icon.url, alt: @user.name %>

  <h2>Spaces</h2>
  <ul class="spaces">
    <% @user.spaces.visible_to_user(current_user).each do |space| %>
      <li class="space">
        <%= link_to space.name, space_path(space) %>
      </li>
    <% end %>
  </ul>
</main>
