<%= content_for :head, auto_discovery_link_tag(:atom, space_tiddler_revisions_path(@space, @tiddler, format: :atom), title: "Federacy: All Revisions for \"#{@tiddler.title}\" in #{@space}") %>
<% content_for :title do %>
  <%= @revision.title %> - <%= @revision.tiddler.title %> - <%= @revision.tiddler.space %> - Federacy
<% end %>

<% content_for :nav do %>
  <% if user_can? :edit_tiddler, @tiddler %>
    <%= form_tag space_tiddler_revisions_path, method: :post do %>
      <%= hidden_field_tag "revision[id]", @revision.id %>
      <%= submit_tag "Revert" %>
    <% end %>
  <% end %>
<% end %>

<main>
  <article class="revision">
    <header>
      <h1><%= @revision.title %></h1>
    </header>

    <section>
      <%= render_tiddler @revision, content_type: @revision.content_type %>
    </section>

    <footer>
    <p>Created on <%= @revision.created_at.strftime '%d %B %Y at %H:%M' %>.</p>
      <ul class="tags">
        <% @revision.tags.each do |tag| %>
          <li class="tag"><%= tag %></li>
        <% end %>
      </ul>
      <% if @revision.back_links(current_user).length %>
        <section class="backlinks">
          <h2>See Also</h2>
          <ul>
            <% @revision.back_links(current_user).each do |back_link| %>
              <li>
              <%= link_to back_link.from.title, space_tiddler_path(back_link.from.space, back_link.from), { class: "backlink" } %>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </footer>
  </article>
</main>


