<% content_for :title do %>
  <%= @revision.title %> - <%= @revision.tiddler.title %> - <%= @revision.tiddler.space %> - Federacy
<% end %>

<% content_for :nav do %>
  <%= form_tag space_tiddler_path(id: @revision.tiddler), method: :put do %>
    <%= hidden_field_tag "tiddler[title]", @revision.title %>
    <%= hidden_field_tag "tiddler[text]", @revision.text %>
    <%= hidden_field_tag "tiddler[content_type]", @revision.content_type %>
    <%= hidden_field_tag "tiddler[tags]", @revision.tags %>
    <%= submit_tag "Revert" %>
  <% end %>
<% end %>

<main>
  <article class="revision">
    <header>
      <h1><%= @revision.title %></h1>
    </header>

    <section>
      <%= render_tiddler @revision, content_type: @revision.content_type %>
    </section>

    <footer>
    <p>Created on <%= @revision.created_at.strftime '%d %B %Y at %H:%M' %>.</p>
      <ul class="tags">
        <% @revision.tags.each do |tag| %>
          <li class="tag"><%= tag %></li>
        <% end %>
      </ul>
    </footer>
  </article>
</main>


